:root {
  /* Основные цвета */
  --primary-color: #1a1a1d;
  --accent-color: #e31e24;
  --dark-color: #333;
  --black-color: #111;
  --gray-light: #f9f9f9;
  --white-color: #ffffff;
  --error-color: #ff4d4f;

  /* Размеры и анимации */
  --container-width: 1200px;
  --transition: 0.3s ease;
  --border-radius: 4px;

  // Базовые стили
  --base-bg: var(--white-color);
  --base-color: var(--primary-color);
  --base-font: var(--font-roboto);
  --base-font-size: 14px;
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     --background: #0a0a0a;
//     --foreground: #ededed;
//   }
// }
