.button {
  background-color: var(--black-color);
  color: var(--white-color);

  border: none;
  border-radius: var(--border-radius);
  font-weight: 600;
  transition: background-color var(--transition);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &.md {
    padding: func.rem(12px) func.rem(24px);
    font-size: func.rem(16px);
  }

  &.sm {
    padding: 4px 8px;
    font-size: func.rem(14px);
  }

  &:hover:not(:disabled) {
    background-color: var(--dark-color);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
