.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;

  @media (max-width: $break-lg) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: $break-md) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: $break-sm) {
    grid-template-columns: 1fr;
  }
}

.error {
  color: var(--accent-color);
  text-align: center;
  padding: 100px;
  font-size: func.rem(18px);
}
