.label {
  font-size: func.rem(14px);
  font-weight: 600;
  color: var(--primary-color);
}

.input {
  display: block;
  width: 100%;
  padding: func.rem(12px) func.rem(16px);
  border: 1px solid var(--gray-color);
  border-radius: var(--border-radius);
  background: var(--white-color);
  font-size: func.rem(16px);
  color: var(--primmary-color);
  transition:
    border-color,
    box-shadow var(--transition);
  outline: none;

  &:focus {
    box-shadow: 0px 0px 4px 0px var(--dark-color);
  }

  &.inputError {
    border-color: var(--error-color);
  }
}

.errorText {
  color: var(--error-color);
  font-size: func.rem(12px);
}
